.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;


    .header & {
        display: flex;
        align-items: center;
    }

    .main-content & {
        display: flex;
        flex-direction: column;
        padding: 106px 0px;
        align-items: center;
    }

    .footer & {
        display: flex;
        flex-wrap: wrap;
    }
}