:root {
    --main-color:#2196f3;
    --main-text-color:#212121;
    --portfolio-btns-color:#f5f4fa;
    --contacts-color:#757575;
    --white-color: white;
    --header-border-color:#ECECEC;
    --hero-background-color:#2f303a;
    --portfolio-border-color:#EEEEEE;
    --bg-overlay:rgba(47, 48, 58, 0.4);
    --social-color:#AFB1B8;
    --content-icons-color:#F5F4FA;
}